.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

/*------------- HOME -------------
.hero-bg {
    width: 100%;
    background-image: url(../assets/hero/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.nav-item {
    padding-left: 30px;
}

.nav-item .nav-link {
    color: #C58C10 !important;
    font-weight: 500;
}

.bg-white {
    background-color: #ffff;
}

.bg-grey {
    background-color: #fafafa;
}

.title-section {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.product-card{
    padding: 30px;
}

.product-card img{
    max-width: 100%;
}

.product-card h4 {
    color: #C58C10;
}

.product-card .btn-link {
    color: #dd1e1e;
    font-weight: 500;
}

.btn-primary {
    background-color:#C58C10;
    font-weight: 400;
    border: none;
}

.sales-card {
    padding: 10px;
    height: 350px;
}

.sales-card img {
    max-height: 50%;
}

.sales-card .btn-primary {
    background-color:#C58C10;
    font-weight: 400;
    border: none;
}

.sales-arrow {
    font-size: 35px;
    color: #C58C10;
    position: absolute;
    margin-top: -80px;
}

.promo-card {
    padding: 10px;
}

.promo-card img {
    max-width: 100%;
}

.gallery-card {
    padding: 10px;
}

.gallery-card img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.partner-card {
    padding: 10px;
}

.partner-card img{
    max-width: 60%;
}

/*------------- PRODUCT -------------*/
.bg-product {
    background-image: url(../assets/hero/hero2.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 280px;
    padding-top: 8%;
}

@media screen and (max-width:767px) {
    .bg-product {
        background-image: url(../assets/hero/hero2.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        padding-top: 8%;
    }
}

.bg-breadcrumb {
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #C58C10;
}

.breadcrumb li a {
    text-decoration: none;
    color: #303030;
    font-weight: 500;
}

.breadcrumb .breadcrumb-item.active {
    color: #ffff;
}

nav ul.pagination li.page-item a.page-link {
    color: #CD9933;
}

.pagination {
    justify-content: center;
}

/*------------- PRODUCT DETAIL -------------*/
.bg-product-detail {
    background-image: url(../assets/product/BinguoEV-detail.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.product-detail-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-detail-title h1 {
    font-size: 60px;
    font-weight: 700;
}

.produk-img {
    width: 50%;
    padding: 50px;
}

.detail-desain {
    padding: 10px;
}

.detail-desain img {
    width: 100%;
}

.detail-desain h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
}

.simulasi-kre {
    width: 90%;
    border-radius: 10px;
    padding: 50px;
    border: solid 1px;
    border-color: #C58C10;
    background-color: #ffff;
}

.desain-arrow {
    font-size: 35px;
    color: #C58C10;
    position: absolute;
    margin-top: -30px;
}

@media screen and (max-width:767px) {
    .bg-product-detail {
        background-image: url(../assets/product/BinguoEV-detail.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
    }

    .product-detail-title {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .product-detail-title h1 {
        font-size: 20px;
        font-weight: 700;
    }

    ul.nav.nav-tabs li.nav-item button.nav-link {
        width: 250px;
        border-bottom: solid 1px;
    }

    nav div.nav-tabs button.nav-link.active {
        width: 100%;
    }
    
    nav div.nav-tabs button.nav-link:hover {
        width: 100%;
    }

    .simulasi-kre {
        width: 100%;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
        border: solid 1px;
        border-color: #C58C10;
        background-color: #ffff;
    }

    .produk-img{
        width: 100%;
    }
}

/*------------- PROMO -------------*/
.bg-promo {
    background-image: url(../assets/hero/hero2.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 250px;
}

.banner-promo {
    width: 100%;
}

.banner-promo img {
    width: 100%;
}

.accordion-button {
    color: #C58C10;
}

@media screen and (max-width:767px) {
    .bg-promo {
        background-image: url(../assets/hero/hero2.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: auto;
        height: 60px;
    }
}

/*-------------- GALLERY ----------------*/
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

/*-------------- CONTACT US ----------------*/
.bg-contact {
    background-image: url(../assets/hero/hero2.png);
    background-position: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 280px;
    padding-top: 8%;
}

.title-tentang h1 {
    font-weight: 400;
    font-size: 50px;
    padding-top: 300px;
}

.tentang-cont h1 {
    font-size: 40px;
    font-weight: 500;
}

.tentang-cont p {
    font-size: 14px;
    line-height: 25px;
}

.tentang-cont img {
    width: 100%;
}

.tentang {
    margin-top: 150px;
    margin-bottom: 150px;
}

.tentang-cont2 h1 {
    font-size: 40px;
    font-weight: 500;
}

.tentang-cont2 p {
    font-size: 14px;
    line-height: 25px;
}

.tentang-cont2 img {
    width: 35%;
}

.head {
    margin-bottom: 200px; 
    height: 500px;
}

@media screen and (max-width:767px) {
    .title-tentang h1 {
        font-weight: 400;
        font-size: 25px;
        padding-top: 50px;
    }

    .bg-tentang {
        height: 150px;
    }

    .tentang {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .tentang-cont h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .tentang-cont2 h1 {
        font-size: 20px;
        font-weight: 500;
    }
}

/*--------- FOOTER -----------*/
.footer p {
    font-size: 14px;
}

.footer i {
    font-size: 24px;
}

@media screen and (max-width:767px) {
    .footer p {
        font-size: 12px;
    }

    .footer i {
        font-size: 16px;
    }
}